<div class="panel-header panel-header-lg">
    <canvas id="bigDashboardChart" width="400" height="100"
        baseChart
        [datasets]="lineBigDashboardChartData"
        [labels]="lineBigDashboardChartLabels"
        [options]="lineBigDashboardChartOptions"
        chartType="line"
        (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
</div>

<div class="main-content">
  <div class="row">
    
    
    <div class="col-lg-4 col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Overall Call Status</h5>
          <h4 class="card-title">Booking Details</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Booking ID</th>
                  <th>Counsellor</th>
                  <th>User</th>
                  <th>Status</th>
                  <th>Call Duration</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let booking of bookingDetails">
                  <td>{{ booking.id }}</td>
                  <td>{{ booking.counsellor_name }}</td>
                  <td>{{ booking.user_name }}</td>
                  <td>{{ booking.status }}</td>
                  <td>{{ booking.call_duration }} minutes</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Data from API
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Overall Call Details</h5>
          <h4 class="card-title">Call Information</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Call ID</th>
                  <th>Counsellor</th>
                  <th>User</th>
                  <th>Duration</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let call of callDetails">
                  <td>{{ call.id }}</td>
                  <td>{{ call.counsellor_name }}</td>
                  <td>{{ call.user_name }}</td>
                  <td>{{ call.duration }} seconds</td>
                  <td>{{ call.status }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Data from API
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card card-chart">
        <div class="card-header">
          <h5 class="card-category">Overall Call Details</h5>
          <h4 class="card-title">Call Information</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Call ID</th>
                  <th>Counsellor</th>
                  <th>User</th>
                  <th>Duration</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let call of callDetails">
                  <td>{{ call.id }}</td>
                  <td>{{ call.counsellor_name }}</td>
                  <td>{{ call.user_name }}</td>
                  <td>{{ call.duration }} seconds</td>
                  <td>{{ call.status }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="now-ui-icons arrows-1_refresh-69"></i> Data from API
          </div>
        </div>
      </div>
    </div>
    
  </div>
</div>
