<div class="panel-header panel-header-sm">
</div>
<div class="main-content">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Edit Profile</h5>
        </div>
        <div class="card-body" *ngIf="user">
          <form (ngSubmit)="updateUser()">
            <div class="row">
              <div class="col-md-4 pr-1">
                <div class="form-group">
                  <label>Phone Number</label>
                  <input type="text" class="form-control" [(ngModel)]="user!.phone_number" name="phone_number">
                </div>
              </div>
              <div class="col-md-4 px-1">
                <div class="form-group">
                  <label>Is Admin</label>
                  <input type="checkbox" class="form-control" [(ngModel)]="user!.is_admin" name="is_admin">
                </div>
              </div>
              <div class="col-md-4 pl-1">
                <div class="form-group">
                  <label>Firebase UID</label>
                  <input type="text" class="form-control" [(ngModel)]="user!.firebase_uid" name="firebase_uid" readonly>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>Created At</label>
                  <input type="text" class="form-control" [value]="user!.created_at | date:'short'" readonly>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>